# engine-strict为true表示package.json中的engine配置的版本与实际不符是报错程度 否则就是警告程度
engine-strict=true
ignore-scripts=false
enable-pre-post-scripts=true
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
