# engine-strict 设置布尔值 表示 package.json中的engine 配置的版本 是警告还是报错 false是警告 true是报错
engine-strict=false
ignore-scripts=false
enable-pre-post-scripts=true
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

