## 
ELPIS_PORT=xxxx
ELPIS_NODE_ENV=xxx


# JWT 密钥
ELPIS_JWT_SECRET_KEY=xxxx

# 数据库配置
ELPIS_DB_HOST=xxxx
ELPIS_DB_PORT=xxxx
ELPIS_DB_NAME=xxxx
ELPIS_DB_USER=xxxx
ELPIS_DB_PASSWORD=xxxx

# 邮箱配置（QQ邮箱）
ELPIS_EMAIL_HOST=xxxx
ELPIS_EMAIL_PORT=xxxx
ELPIS_EMAIL_SECURE=xxxx
ELPIS_EMAIL_USER=xxxx
ELPIS_EMAIL_PASS=xxxx
