# .env.example: .env.dev | .env.prod 
PORT=xxx
NODE_ENV=xxx  # dev prod  
# JWT 密钥
JWT_SECRET_KEY=xxxx

# 数据库配置
DB_HOST='codewy.top'  # 数据库的ip地址
DB_PORT='3306'   # 数据库的端口号 mysql服务一般是3306
DB_USER='root'  # 数据库的登录账号root
DB_PASSWORD='123456'  # 数据库的登录密码 
DB_DATABASE='onpiece_dev'  # 数据库名称 （类似表名） 第一次需要新建

# 邮箱配置（QQ邮箱）
EMAIL_HOST=xxxx
EMAIL_PORT=xxxx
EMAIL_SECURE=xxxx
EMAIL_USER=xxxx
EMAIL_PASS=xxxx
